[Unit]
Description=aim
DefaultDependencies=no
After=cgroup-init.service
After=setup-flash.service
Requires=setup-flash.service

[Service]
Type=notify
ControlGroup=memory:/idrac/C
Restart=on-failure
LimitSTACK=65536
EnvironmentFile=/etc/global.env

ExecStart=/sbin/aim
KillSignal=SIGKILL

[Install]
WantedBy=sysinit.target
