[Unit]
Description=USB app
After=dm-stage2.service
After=driver-load-usb.service

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
ControlGroup=memory:/idrac/NC
EnvironmentFile=/etc/global.env
LimitSTACK=65536
ExecStart=/bin/usb_app
KillSignal=SIGKILL
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target
