[Unit]
Description=VNC server
#BindTo=vnc.service
After=osinet.service

[Service]
Type=simple
Restart=on-failure
ControlGroup=memory:/idrac/NC
LimitSTACK=65536
EnvironmentFile=/etc/global.env
ExecStart=/bin/fb_vnc_server
ExecStop=/bin/killall -SIGINT fb_vnc_server
ExecStopPost=/bin/killall -SIGINT fb_source
TimeoutStopSec=2
KillSignal=SIGINT
RestartSec=10

[Install]
WantedBy=multi-user.target
