[Unit]
Description=Clear Private Store
DefaultDependencies=no
Before=sysinit.target
Before=setup-flash.service
After=early-mount.service
Requires=early-mount.service
RequiresMountsFor=/flash/data0
ConditionPathExists=/flash/data0/clr_ps.cmd

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/global.env
ExecStart=/etc/init.d/clear_private_store.sh

[Install]
WantedBy=local-fs.target
