[Unit]
Description=Mount 13G credential vault
DefaultDependencies=no
# requires sh_tsip driver, which is loaded by early-mount.sh now
After=early-mount.service
Requires=early-mount.service
After=clear_private_store.service
Requires=clear_private_store.service
RequiresMountsFor=/flash/data0 /mmc1 /tmp

Before=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Nice=-10

ExecStartPre=-/etc/init.d/credential-vault-13g.sh clear_cv_img
ExecStartPre=-/etc/init.d/credential-vault-13g.sh ensure_cv
ExecStart=-/etc/init.d/credential-vault-13g.sh start_13g
ExecStop=-/etc/init.d/credential-vault-13g.sh stop_13g

[Install]
WantedBy=local-fs.target
