[Unit]
Description=12G credential vault shutdown sync
Requires=credential-vault-13g.service
After=credential-vault-13g.service
RequiresMountsFor=/flash/data0 /tmp
ConditionPathExists=/flash/data0/features/not-shasta

[Service]
Type=oneshot
RemainAfterExit=yes

# do nothing at boot, it already syncs from 12G on boot from the 13g script
ExecStart=/bin/true

# sync changes from 13g to 12g cv on shutdown
ExecStop=-/etc/init.d/credential-vault-13g.sh copy_to_12g

[Install]
WantedBy=multi-user.target
