[Unit]
Description=ttymonitor
After=aim.service

# for CPU utilization, not ordering

[Service]
Type=forking
ControlGroup=memory:/idrac/C
#Restart=on-failure
LimitSTACK=65536
EnvironmentFile=/etc/global.env
Environment=USER=root
StandardOutput=journal+console
StandardError=inherit
ExecStart=/bin/ttymonitor
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
