[Unit]
Description=wsman data handlr socket
After=tmp.mount

[Socket]
ListenStream=/tmp/avct_wsmanSocket
Accept=false

[Install]
WantedBy=sockets.target
